%h3 #{@project.project_name}
.show-info-block	
  %ul
    %li.project-char #{@project.owner}
  %form.destroy{action: "/delete/projects/#{@project.id}", method: "POST"}
    %input{type: "hidden", name: "_method", value: "DELETE"}
    %input{type: "submit", value: "delete"}  
  - unless @project.archived?
    %form{action: "/archive/projects/#{@project.id}", method: "POST"}
      %input{type: 'submit', value: "Archive"}
  - else
    %form{action: "/restore/projects/#{@project.id}", method: "POST"}
      %input{type: 'submit', value: "Restore"}